*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.utama{
  width: 100%;
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.30),rgba(0, 0, 0, 0.75)), url("ai1.jpg");
  background-size:100%;
  background-position: center;
  text-align: right;
}

nav a{
  text-decoration: none;
  color: #ffffff;
}

.navbar{
   
  padding: 10px 0 30px 10px;
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.judul{
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 30px ;
}

.judul1{
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

.navbar ul li{
  list-style: none;
  display: inline;
  margin: 0 10px;
  position: relative;
  text-align: right;
}

.navbar ul li a{
  color: white;
  text-transform: uppercase;
}

.navbar ul a:hover{
  color: #ffc438;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #1873d3;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.7s;
}

.list a:hover{
  color: #1873d3;
}

.navbar ul li:hover::after{
  width: 100%;
}

